body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #12484c;
}


header {
    background-color:#3b5265; 
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
    margin-bottom: 10px;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #3498db;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

section {
    margin-bottom: 30px;
}

h2, h3 {
    color: #2c3e50;
    border-left: 5px solid #3498db;
    padding-left: 10px;
}
ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
}


@media (max-width: 768px) {
    body {
        background-color: lightblue;
    }
}


footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    font-size: 0.9rem;
    color: #777;
}

footer hr {
    width: 50%;
    border: 0;
    border-top: 1px solid #ddd;
    margin-bottom: 15px;
}